<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
    <link th:href="@{/css/stylesLista.css}" rel="stylesheet">
</head>
<body>

    <header th:insert="~{fragments/header :: header}"></header>

    <main>
        <h2>Lista de Cursos</h2>
        <div th:if="${mensagemSucesso}" class="alert alert-success" th:text="${mensagemSucesso}"></div>
        <div th:if="${mensagemErro}" class="alert alert-danger" th:text="${mensagemErro}"></div>
    
        <a href="#" th:href="@{/cursos/novo}" class="button">Cadastrar Novo Curso</a>
    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Curso</th>
                    <th>Área do Curso</th>
                    <th>Carga Horária</th>
                    <th>Modalidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso : ${cursos}">
                    <td th:text="${curso.cd_curso}"></td>
                    <td th:text="${curso.nome_curso}"></td>
                    <td th:text="${curso.area_curso}"></td>
                    <td th:text="${curso.carga_horaria_curso}"></td>
                    <td th:text="${curso.modalidade_curso}"></td>
                    <td>
                        <a th:href="@{/cursos/editar/{cd_curso}(cd_curso=${curso.cd_curso})}">Editar</a> | 
                        <a th:href="@{/cursos/excluir/{cd_curso}(cd_curso=${curso.cd_curso})}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </main>
    
    <footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>
