<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Matrícula</title>
    <link th:href="@{/css/stylesEditar.css}" rel="stylesheet">
</head>
<body>

    <header th:insert="~{fragments/header :: header}"></header>

    <main>
        <h2>Editar Matrícula</h2>

        <form th:action="@{/matriculas/editar/{cd_matricula}(cd_matricula=${matricula.cd_matricula})}" th:object="${matricula}" method="post">
            <div>
                <label for="dt_matricula">Data da Matrícula:</label>
                <input type="date" id="dt_matricula" th:field="*{dt_matricula}" required />
            </div>
    
            <div>
                <label for="cd_aluno">Aluno:</label>
                <select id="cd_aluno" th:field="*{cd_aluno}" required>
                    <option th:each="aluno : ${alunos}" 
                            th:value="${aluno.cd_aluno}" 
                            th:text="${aluno.nome_aluno}" 
                            th:selected="*{cd_aluno} == ${aluno.cd_aluno}">
                    </option>
                </select>
            </div>
    
            <div>
                <label for="cd_curso">Curso:</label>
                <select id="cd_curso" th:field="*{cd_curso}" required>
                    <option th:each="curso : ${cursos}" 
                            th:value="${curso.cd_curso}" 
                            th:text="${curso.nome_curso}" 
                            th:selected="*{cd_curso} == ${curso.cd_curso}">
                    </option>
                </select>
            </div>
    
            <div>
                <button type="submit">Atualizar</button>
            </div>
        </form>
    
        <a href="/matriculas" class="button">Voltar para a lista de matrículas</a>
    
    </main>
    
    <footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>