<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Matrículas</title>
    <link th:href="@{/css/stylesLista.css}" rel="stylesheet">
</head>
<body>
    <header th:insert="~{fragments/header :: header}"></header>
    
    <main>
        <h2>Lista de Matrículas</h2>
        <div th:if="${mensagemSucesso}" class="alert alert-success" th:text="${mensagemSucesso}"></div>
        <div th:if="${mensagemErro}" class="alert alert-danger" th:text="${mensagemErro}"></div>
    
        <a href="#" th:href="@{/matriculas/novo}" class="button">Cadastrar Nova Matrícula</a>
    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data de Matrícula</th>
                    <th>Aluno</th>
                    <th>Curso</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="matricula : ${matriculas}">
                    <td th:text="${matricula.cd_matricula}"></td>
                    <td th:text="${matricula.dt_matricula}"></td>
                    <td th:text="${matricula.aluno.nome_aluno}"></td>
                    <td th:text="${matricula.curso.nome_curso}"></td>
                    <td>
                        <a th:href="@{/matriculas/editar/{cd_matricula}(cd_matricula=${matricula.cd_matricula})}">Editar</a> | 
                        <a th:href="@{/matriculas/excluir/{cd_matricula}(cd_matricula=${matricula.cd_matricula})}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </main>
    
    <footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>